html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
    display: block;
    list-style: none;
    font-weight: bold;
}

.cv-entry {
    border-style: solid;
    padding: 1cm;
    margin: 1cm;
    background-color: #dddddd;
    border-radius: 0.5cm;
    border-color: rgb(65, 65, 65);
    border-width: 00.01cm;
    text-align: center;
}
.cv-entry:hover {
    background-color:rgb(107, 107, 107);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
p {
    text-align: left;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.experience {
    font-weight: 500;
    text-align: left;
}

img {
    border-radius: 5cm;
}

.about-title {
    display: flex;

}
