html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 60px auto;
    width: 70%;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.7s; /* 0.7 second transition effect to slide in the sidenav */
    justify-content: center;
  }
  
  /* The navigation menu links */
  .sidenav a  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    justify-content: center;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .menu {
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: -12.5%;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
nav ul, footer ul {
    padding: 0px;
    display: block;
    list-style: none;
    font-weight: bold;
}

.cv-entry {
    border-style: solid;
    padding: 1cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-right: 0cm;
    margin-left: 1.5cm;
    background-color: #dddddd;
    border-radius: 0.5cm;
    border-color: rgb(65, 65, 65);
    border-width: 00.01cm;
    text-align: center;
}
.cv-entry:hover {
    background-color:rgb(107, 107, 107);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
}
p {
    text-align: left;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.experience {
    font-weight: 500;
    text-align: left;
}

img {
    border-radius: 5cm;
}

.about-title {
    display: flex;
}
